<div class="container">
    <h1><b><%= t 'employee.index.emp' %></b></h1>
    <a href='http://localhost:3000/employees/new' class="btn btn-primary pull-right"><%= t 'button.newemp'%></a>
    <a href='http://localhost:3000' class="btn btn-success"><%= t 'button.back'%></a>
</div>
<br>
<div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 525px;overflow: scroll;">
<table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
      <caption>List of Employees</caption>
      <thead>
        <tr>
    <th><%= t 'employee.index.id' %></th>
    <th><%= t 'employee.index.name' %></th>
    <th><%= t 'employee.index.email' %></th>
    <th><%= t 'employee.index.job' %></th>
    <th><%= t 'employee.index.salary' %></th>
    <th><%= t 'employee.index.status' %></th>
    <th><%= t 'employee.index.team_id' %></th>
    <th><%= t 'users.index.Show Individual' %></th>
  </tr>
  
      </thead>
      <tbody>
  <% @employees = Employee.all%>

  <% @employees.each do |employee| %>
    <tr>
    <td><%= employee.id %></td>
    <td><%= employee.name %></td>
    <td><%= employee.email %></td>
    <td><%= employee.job %></td>
    <td><%= employee.salary %></td>
    <td><%= employee.employment_status %></td>
    <td><%= Team.find(employee.team_id).name %></td>
    <td>
    <p>
    
          
            <%= link_to I18n.t('employee.index.Show This Emp'), employee , class: "btn btn-primary p-1 py-0" %>
            <%= button_to I18n.t('button.delete'),{ action: "destroy", id: employee.id },
                                method: :delete, data: { confirm: "Are you sure?" } ,
                                class: "btn btn-danger p-1 py-0"%>
    </p></td>
    </tr>
    
  <% end %>
       </tbody>
  </table>
</div>