<%= form_with(model: mission) do |form| %>
  <% if mission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
        <% mission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :startDate, style: "display: block" %>
    <%= form.text_field :startDate %>
  </div>

  <div>
    <%= form.label :finishDate, style: "display: block" %>
    <%= form.text_field :finishDate %>
  </div>


  <div class="form-group m-0 col-md-6">   
    <%= form.label :team, class:"text-left"%> 
    <%= form.select :team , Team.all.collect { |p| [ p.name, p.id ] } %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
