<div id="<%= dom_id mission %>">
  <p>
    <strong><%= t 'target.index.title' %>:</strong>
    <%= mission.title %>
  </p>

  <p>
    <strong><%= t 'target.index.description' %>:</strong>
    <%= mission.description %>
  </p>

  <p>
    <strong><%= t 'target.index.start' %>:</strong>
    <%= mission.startDate %>
  </p>

  <p>
    <strong><%= t 'target.index.finish' %>:</strong>
    <%= mission.finishDate %>
  </p>


  <p>
    <strong><%= t 'target.index.team' %>:</strong>
    <%= Team.find( mission.team).name %>
  </p>

  <p>
    <strong><%= t 'target.index.status' %>:</strong>
    <%= mission.status %>
  </p>

</div>
