<div id="<%= dom_id mission %>">
  <p>
    <strong>Title:</strong>
    <%= mission.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mission.description %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= mission.startDate %>
  </p>

  <p>
    <strong>Finishdate:</strong>
    <%= mission.finishDate %>
  </p>


  <p>
    <strong>Team:</strong>
    <%= Team.find( mission.team).name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= mission.status %>
  </p>

</div>
